.main-div-top {
  display: block;
}
.leftside h4 {
  margin-top: 10%;
  font-size: 36px;
  font-weight: normal;
}
.leftside h2 {
  font-size: 56px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottle-cursive {
  font-family: "Pacifico", cursive;
}

.leftside p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #0a2642;
  font-weight: normal;
  /* margin: auto; */
  /* padding: 3%; */
  text-decoration: none;
}

.leftside {
  width: 42%;
  float: left;
  height: 500px;
  background-color: #d7eaf4;
  margin-right: none;
  text-align: center;

  /* border: 1px solid red; */
}
.rightside {
  width: 58%;
  height: 500px;
  overflow: hidden;
  float: right;
}
.button-shop-now {
  border: 1px solid black;
  background-color: #d7eaf4;
  margin-top: 3%;
  width: 250px;
  height: 40px;
}

.button-shop-now:hover {
  background-color: #0a2642;
  color: #d7eaf4;
}

.shopclassic-main-div {
  display: flex;
  align-items: flex-start;
  padding: 5%;
}

.shopclassic {
  width: 33%;
  background-color: #f5f5f5;
  color: #58585b;
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}

.shopclassic-textdiv {
  padding: 10%;
}
.shopclassic-textdiv:hover {
  text-decoration: underline;
}

.get-maore-time-pay {
  border: 1px solid grey;
  color: #58585b;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  margin-right: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4%;
}
.getmore-time-to-pay-text-div {
  margin-left: 5%;
}
.get-maore-time-pay span {
  text-decoration: underline;
}

.klarna-div {
  margin-right: 12%;
  padding: 30px;
}

.Betty-main-div {
  display: block;
  margin-left: 10%;
  margin-right: 9%;
  height: 500px;
}
.betty-div-left-side-img {
  width: 50%;
  height: 100%;
}

.betty-rightside-div {
  width: 50%;
  float: right;
  height: 500px;
  background-color: #d7eaf4;
  margin-right: none;
  color: #0a2642;
}
.betty-rightside-text-div {
  margin-top: 20%;
  margin-left: 7%;
}
.betty-rightside-text-div h2 {
  font-size: 56px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Franklin Gothic ATF", Roboto, sans-serif;
  font-weight: 600;
}

.betty-rightside-text-div p {
  font-size: 20px;
  font-weight: normal;

  align-items: center;

  font-family: "Franklin Gothic ATF", Roboto, sans-serif;
  font-weight: 200;
}
.betty-button-shop-now {
  background-color: white;
  font-size: 20px;
  margin-top: 3%;
  width: 250px;
  height: 40px;
  border: none;
}
.betty-button-shop-now:hover {
  background-color: #0a2642;
  color: #d7eaf4;
}

.see-whats-new-corolsaldiv {
  text-align: center;
  padding: 2%;
  margin-bottom: 4%;
  color: grey;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 300px;
  overflow: hidden;
  border-radius: 5%;
}
.slider-div {
  display: flex;
  flex-direction: row;
}

.tervis-main-div {
  display: block;
  margin-left: 10%;
  margin-right: 9%;
  height: 600px;
}

.create-betty-rightside-div {
  width: 50%;
  height: 600px;
  float: right;
  background-color: #d7eaf4;
  margin-right: none;
}
.betty-div-right-side-img {
  width: 100%;
  height: 90%;
}
.create-button-shop-templet {
  font-size: 20px;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 250px;
  height: 40px;
  border: none;
}

.create-button-shop-templet:hover {
  background-color: white;
}

.everything-tervis-main-div {
  display: block;
  margin-left: 10%;
  margin-right: 9%;
  height: 500px;
  margin-top: 3%;
}

.everything-tervis-div-left-side-img {
  width: 50%;
  height: 90%;
}
.everything-tervis-rightside-div {
  width: 50%;
  height: 500px;
  float: right;

  margin-right: none;
}

.everything-tervis-div-left-side-img:hover {
  color: #0a2642;
}
